#wrapper
  #page-wrapper
    .row
      .col-md-12
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          =devise_error_messages!
          .panel.panel-default
            .panel-heading
              %h5 Account Details
            .panel-body
              .col-xs-8
                =f.label :first_name
                %br/
                =f.text_field :first_name, class:"form-control"
                =f.label :last_name
                %br/
                =f.text_field :last_name, class:"form-control"
                = f.label :email, "Email Adress"
                %br/
                =f.email_field :email, autofocus: true, class:"form-control"
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for: #{resource.unconfirmed_email}
              .col-xs-4
                =f.label :current_password
                %br/
                =f.password_field :current_password, autocomplete: "off", class:"form-control"

                =f.label :password, "New Password"
                %br/
                =f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"6 characthers minimum"
                =f.label :password_confirmation
                %br/
                =f.password_field :password_confirmation, autocomplete: "off", class:"form-control"
              
          .panel.panel-default
            .panel-heading
              %h5 Address & Company Details
            .panel-body
              .col-xs-8
                =f.label :address
                =f.text_field :address, class:"form-control"
                .form-inline
                  .form-group
                    =f.label :postal_code
                    %br/
                    =f.text_field :postal_code, class:"form-control"
                  .form-group
                    =f.label :city
                    %br/
                    =f.text_field :city, class:"form-control"
                  .form-group  
                    =f.label :country
                    %br/
                    =f.text_field :country, class:"form-control"
              .col-xs-4
                =f.label :company_name
                =f.text_field :company_name, class:"form-control"
                =f.label :website, "Website URL"
                =f.text_field :website, class:"form-control"

          .update-account-details
            = f.submit "Update Account Details", class:"btn btn-primary"
        .panel.panel-default
          .panel-heading
            %h5 Cancel my account
          .panel-body
            %p
              Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger"}
            = link_to "Back", :back, class:"btn btn-default"
