!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title InvoicesApplication
		= csrf_meta_tags
		= stylesheet_link_tag		'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		= render 'dashboard/navigation'
		%div{id:"#{'wrapper' if !@index}"}
			#page-wrapper
				.container-fluid
					.flash-message
						=render 'layouts/messages'
					= yield

